body {
  background-image: url('./../images/bg.jpg');
  background-size: contain;
}
.container {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 800px;
  padding: 20px;
  margin: 0 auto;
  height: 600px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
}

.results-table {
  width: 300px;
  margin: 20px auto;
  border-collapse: collapse;
  margin-bottom: 24px;
}

.results-table th,
.results-table td {
  padding: 10px;
  border: 1px solid #000;
}

.buttons {
  display: flex;
  gap: 30px;
}

.button-x {
  appearance: none;
  backface-visibility: hidden;
  background-color: salmon;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-x:hover {
  background-color: tomato;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.button-x:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.button-x:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}

.button-o {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-o:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.button-o:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.button-o:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}
